.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  text-align: center;
  margin-left: 1em;
}

.columns {
  display: flex;
}

.search-text {
  width: 20em;
}

.deco-checklist {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.decos {
  display: flex;
  gap: 1.5em;
}

.deco-holder {
  height: 90vh;
  overflow-y: auto;
  font-family: monospace;
  padding-right: 1em;
}

.deco-button {
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  width: fit-content;
}
.deco-button:hover {
  background-color: #d3d3d324;
  font-weight: 600;
}

.deco-icon {
  width: 30px;
  height: 30px;
}

.count {
  margin-left: 10px;
}

.deco-name {

}
.strike {
  text-decoration: line-through;
  color: darkgray;
}

.monster-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.monster {
  display: flex;
  position: relative;
}
.monster-img {
  width: 80px;
  border-radius: 12px;
  pointer-events: none;
}

.outline {
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.crown {
  position: absolute;
  font-size: 40px;
  cursor: pointer;

  /* text-shadow: 1px 1px 0 #FFA700, -1px -1px 0 #FFCB00, 1px -1px 0 #D0A94B, -1px 1px 0 #fff, 3px 3px 5px #aa8e23; */

  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px; */
}
.giant {
  right: -6px;
  bottom: -2px;
}
.mini {
  transform: scaleY(0.5);
  right: 31px;
  bottom: -13px;
}
.silver {
  filter: grayscale(100%);
}
.null {
  filter: contrast(0%);
}

.mode-button {
  position: fixed;
  right: 6px;
  bottom: 2em;
  cursor: pointer;
}