.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  text-align: center;
  margin-left: 1em;
}

.decos {
  display: flex;
  gap: 1.5em;
}

.deco-holder {
  height: 90vh;
  overflow-y: auto;
  font-family: monospace;
  padding-right: 1em;
}

.deco-button {
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  width: fit-content;
}
.deco-button:hover {
  background-color: #d3d3d324;
  font-weight: 600;
}

.deco-icon {
  width: 30px;
  height: 30px;
}

.count {
  margin-left: 10px;
}

.deco-name {

}
.strike {
  text-decoration: line-through;
  color: darkgray;
}